.index-bg{
  background-color:#41b88361;color:$fc666;
  #indexbg01{position: $postFix;}
  .index-main{position: absolute; top:61px;width:80%;left:10%;background-color:lightblue;
    // 滚动公告
    .notice-item{border:none;background-color: transparent;
      .el-card__body{border: 2px dashed #add8e6;padding:10px;border-radius: 5px;height:20px;position: $postRela;
        background: linear-gradient(#ede387, #6ac1dc) padding-box, repeating-linear-gradient(-45deg, #b7a81c 0, #55a1b9 0.25em, #58a3bb 0, #caa1b8 0.75em);
        i{font-size:16px;}
      }
      .marquee_top {transition: all .5s;-moz-transition: all .5s; -webkit-transition: all .5s;-o-transition: all .5s; margin-top:-30px;}
      .notice-text{left:4%;top: 3px;position: $postAsol;
        li{height:30px;line-height: 30px;}
      }
    }
    // 天气预报
    .main-info{padding:10px;text-align: center;width:400px !important;background-color: #ffffff38;
      .Infobottom .top,.Infobottom .mid{border-color:#e8c010;}
      .Infobottom .top span{padding: 4px 7px 4px 5px;}
    }
    .el-divider__text{background-color: #add8e6;padding:0 10px;}
    .index-main-content{margin:10px 0;background-color:transparent;
      .content-item{}
    }
  }
}
