.article{@include framework();background-color: lightblue;
  
  .el-card{background-color: transparent;.el-card__body{padding:10px;}}

  .el-aside{
    padding:20px;
  }
      .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to  {
      opacity: 0;
    }


}


/*屏幕分辨率为小于1280px*/
@media screen and (max-width:1279px){

}

/*屏幕分辨率为小于767px时*/
@media screen and (max-width: 767px){

}

/*屏幕在480px到767之间（主要是手机屏幕）*/
@media screen and (min-width: 480px) and (max-width:767px){

}

/*屏幕在768px到1023之间（小屏幕-pad）*/
@media screen and (min-width: 768px) and (max-width:1023px){

}

/*屏幕在1024px到1279之间（中屏幕电脑）*/
@media screen and (min-width: 1024px) and (max-width: 1279px){

}

/*屏幕大于1280px（大屏幕电脑）*/
@media screen and (min-width: 1280px){

}

/************ 细分PC端大屏和中屏 ****************/

/*最小屏幕分辨率为1280px且最大为1440px*/
@media (max-width:1440px) and (min-width: 1280px) {

}

/*最小屏幕分辨率为1440px且最大为1680px*/
@media (max-width:1680px) and (min-width: 1439px) {

}

/*最小屏幕分辨率为1920px*/
@media screen and (min-width:1920px){

}